.container {
  width: 300px;
  margin: 10vh auto;
  overflow: hidden;
  position: relative;
}

.slide-img-area {
  display: flex;
  &__img {
    width: 300px;
    height: 300px;
  }
}

.slide-btn-area {
  width: 100%;
  text-align: center;
  letter-spacing: 0.5rem;
  &__btn {
    background-color: #777;
    width:10px;
    height:10px;
    border-radius:50%;
    opacity: .5;
    &.selected {
      opacity: 1;
    }
  }
}



.nav {
  position: absolute;
  top:115px;
  font-size: 40px !important;
  color: #FFF;
  &:hover {
    cursor: pointer;
    z-index: 1;
  }
  &-left {
    left: 0;
  }
  &-right {
    right: 0;
  }
}
